.carousel-container {
    width: 100%;
    max-width: 500px;
    height: 70vh;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.carousel {
    display: flex;
    gap: 1rem;
    animation: scroll-carousel 15s linear infinite;
    width: max-content;
}

.carousel img {
    width: 280px;
    height: 50vh;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
}

/* Scroll Animation */
@keyframes scroll-carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.carousel-container:hover .carousel {
    animation-play-state: paused;
}

.carousel-container .carousel {
    animation-play-state: running;
}

/* Media Queries for Responsiveness */

/* Tablets (max-width: 768px) */
@media (max-width: 768px) {
    .carousel-container {
        max-width: 100%;

        height: 60vh;
    }

    .carousel img {
        width: 200px;
        height: 40vh;
    }

    .carousel {
        gap: 0.8rem;
        animation: scroll-carousel 12s linear infinite;
    }
}

/* Phones (max-width: 480px) */
@media (max-width: 480px) {
    .carousel-container {
        height: 50vh;
    }

    .carousel img {
        width: 150px;
        height: 30vh;
    }

    .carousel {
        gap: 0.5rem;
        animation: scroll-carousel 10s linear infinite;
    }
}