.spotlight-button {
    position: relative;
    /* Keep it relative */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: var(--two);
    border: none;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    margin-top: auto;
}


.text-content {
    position: relative;
    z-index: 2;
    mix-blend-mode: difference;
}

.spotlight-effect {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: left 0.2s ease, top 0.2s ease;
}