.hero-left .left-content h3 {
    line-height: 1/8;
    font-size: 1.4rem;
    font-weight: 500;
    align-items: center;
    color: white;
    max-width: 100%;
    text-align: justify;
}

.hero-left .left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    padding: 4rem 10rem;
    position: relative;
    right: 7rem;
    width: 100%;
}

.hero-right-button-wrapper {
    position: absolute;
    bottom: 38rem;
    right: 2rem;
    padding: 0.8rem 1.5rem;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.spotlight-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: color(--two);
    border: none;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}

.text-content {
    position: relative;
    z-index: 2;
    mix-blend-mode: difference;
}

.spotlight-effect {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: left 0.2s ease, top 0.2s ease;
}