@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --prime: #C0EEF2;
  --secondary: #F1EEDC;
  --text: #003C43;
  --sectext: #FF748B;

  line-height: 1.5;
  font-family: "Poppins", serif;
  margin-top: 18px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none;
}